.front-page
  .row-fluid
    %br
      %h2{style: 'text-align:center;'} East Metro Supply CRM
      %p
        Welcome to the East Metro Supply CRM (Customer Relations Management) software. Here you will be able to log your weekly quotas, leads, prospects, and more. Every week you will have a set of quotas to meet, and will be able to track and submit them here.
      %p
        Please note that this is still being developed and may have issues. If you encounter anything that is broken, or working unexpectedly, email James at #{link_to 'james.thomas@eastmetrosupply.com', 'mailto:james.thomas@eastmetrosupply.com'}  with your issue and we will get it fixed right away.

      %br
      .well.trial
        %h2 Try it  out
        %p
          #{link_to 'Click here to login.', :login}

      

